#table-of-contents{
  width: fit-content;
  margin-bottom: 10px;
}
.section-nav {
    padding: 0px 30px 5px 30px;
    margin-bottom: 5px;
    list-style-type: none;
  }
.section-nav li{
  list-style-type: none;
}
.section-nav a{
  color: #343a40!important;
  text-decoration: none;
}
.PostContent li{
  list-style-type: circle;
}
.PostContent p, .PostContent ul{
  margin-bottom: 0px;
}
.PostContent h4{
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.PostContent h5{
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.PostContent h6{
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
/* Content */
.PostContent h5{
  margin-left: 0.5rem;
}
.PostContent h6{
  margin-left: 1rem;
}
.PostContent img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.PostContent a{
  color: #343a40!important;
  text-decoration: none;
}
.PostContent table{
  margin: 0 auto;
  width: auto;
}
.PostContent td{
  max-width: 670px;
}