---
layout: default
---
<!-- Content -->
<div class="container bg-white">
    <!-- Navbar -->
    <nav class="navbar navbar-light bg-white border-bottom pl-1 pr-1">
        <a class="Brand navbar-brand" href="{{ "/index.html" | relative_url }}"> <img src="{{ "/assets/logo.png" | relative_url }}" width="40px" height="40px"> BetaBot</a>
        <nav class="nav">
            <a class="NavLink Active nav-link" href="{{ "/index.html" | relative_url }}">Blog</a>
            <a class="NavLink nav-link" href="{{ "/about.html" | relative_url }}">About</a>
        </nav> 
    </nav>

  <br>
    <!-- Content -->
    <div class="Content">
        <p class="Category text-center">{{page.title}}</p>
        {% for post in site.posts %}
            {% if post.tags contains page.link %}
                <div class="card mt-1">
                        <div class="card-body p-1">
                            <p class="Title card-text mb-1 ml-2 mr-2"><a class="Link" href="{{ post.url | relative_url }}">{{ post.title }}</a></p>
                        </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

  <br>

    <!-- Footer -->
    <nav class="navbar navbar-light bg-white border-top">
        <p>2019 © Trang Anh Thuấn</p>
        <nav class="nav">
            <a class="NavLink nav-link" href="#"><i class="fab fa-linkedin-in"></i></a>
            <a class="NavLink nav-link" href="#"><i class="fab fa-github"></i></a>
            <a class="NavLink nav-link" href="#"><i class="fas fa-envelope"></i></a>
        </nav> 
    </nav>
</div>