---
layout: default
---
<div class="container bg-white">
    <!-- Navbar -->
    <nav class="navbar navbar-light bg-white border-bottom pl-1 pr-1">
        <a class="Brand navbar-brand" href="{{ "/index.html" | relative_url }}"> <img src="{{ "/assets/logo.png" | relative_url }}" width="40px" height="40px"> BetaBot</a>
        <nav class="nav">
            <a class="NavLink Active nav-link" href="{{ "/index.html" | relative_url }}">Blog</a>
            <a class="NavLink nav-link" href="{{ "/about.html" | relative_url }}">About</a>
        </nav> 
    </nav>

  <br>

    <!-- Content -->
    <div class="Content">
        <!-- Title -->
        <p class="PostTitle text-center lead">{{page.title}}</p>
        <!-- Content -->
        <div id="table-of-contents" class="mx-auto border-top border-bottom pl-md-5 pr-md-5">
            <p class="lead text-center m-0">Mục lục</p>
            {% toc %}
        </div>
        <div class="PostContent ml-1 mr-1">
            {{ content }}
        </div>
    </div>

  <br>

    <!-- Footer -->
    <nav class="navbar navbar-light bg-white border-top">
        <p>2019 © Trang Anh Thuấn</p>
        <nav class="nav">
            <a class="NavLink nav-link" href="#"><i class="fab fa-linkedin-in"></i></a>
            <a class="NavLink nav-link" href="#"><i class="fab fa-github"></i></a>
            <a class="NavLink nav-link" href="#"><i class="fas fa-envelope"></i></a>
        </nav> 
    </nav>
</div>
<script src={{ "assets/custom.js" | relative_url }}></script>